version: "2"

services:
  devserver:
    extends:
      file: ./docker-compose.yml
      service: node
    environment:
      NODE_ENV: development
      REACT_APP_INSADMIN_HOST: http://localhost:3011/public
      REACT_APP_INSAPI_HOST: http://localhost:3000/admin
      PORT: 3011
    volumes:
      - ./public:/public
    ports:
      - 3011:3011
    command: npm start
