version: "3.5"

services:
  server:
    image: vxnexus-registry.intra.inist.fr:8083/insermbiblio/insadmin:${insadmin_version}
    environment:
      NODE_ENV: production
    working_dir: /public
    restart: always
    ports:
      - 3010:8080
    networks:
      - insfrontend

networks:
  frontend:
    external: true