devserver:
  extends:
    file: ./docker-compose.yml
    service: node
  environment:
    NODE_ENV: development
    INSADMIN_HOST: http://localhost:3011/public
    INSAPI_HOST: http://localhost:3000/admin
  volumes:
    - ./public:/public
  ports:
    - 3011:3011
  command: ./node_modules/.bin/webpack-dev-server --progress --colors --devtool cheap-module-inline-source-map --hot --inline --port 3011 --host 0.0.0.0
